body{
    background-color: black;
}

.sign-up_form{
    max-width: 300px;
    margin: 0px auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.sign-up_form>h2{
    text-align: center;
}


.main_form_section > label, input{
    display: block;
    width: 100%;
    height: 25px;
}

#batch{
    display: block;
    width: 100%;
    height: 28px;
}

.signup-button{
    background-color: black;
    color: white;
    height: 30px;
}
.signup-button:hover{
    cursor: pointer;
    background-color: #603939;
}